<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <th:block th:if="${messages!=null}"  th:fragment="messagesDisplayer(messages,clear)">
    <th:block th:if="${clear==true}">
        <div  th:each="message: ${messages.getAlertsAndClear()}"  th:class="'alert alert-'+${message.getTypeName()}"  th:text="${message.getText()}">

        </div>
    </th:block>
    <th:block th:if="${clear==false}">
        <div  th:each="message: ${messages.getAlerts()}"  th:class="'alert alert-'+${message.getTypeName()}"  th:text="${message.getText()}">

        </div>
    </th:block>
  </th:block>
</body>
</html>