<!DOCTYPE html  >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body>
    <div th:if="${threads!=null}" th:fragment="threadList(threads)" class="container ">
        <div th:each="thread:${threads.getThreadDTOList()}" class="py-3 row border-bottom  ">
          <div class="col-12 col-lg-6">
            <a th:href="@{${'/thread/'}+${atr_category.getUrl()}+${'/'}+${thread.getIdThread()}}" class="link-success mb-1  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><strong th:text="${thread.getTopic()}"></strong></a>
            <p class="">
              <b>Stworzył: </b> <span class="text-info" th:text="${thread.getUsername()}"></span>
              <b>Dnia: </b> <span th:text="${thread.getCreationDate()}"></span>
            </p>
          </div>
          <div class="me-1 small col" th:text="'Aktywność: '+${thread.getUpdateDate()}"></div>
          <div class="me-l small col pe-0 position-relative" >

            <span th:text="'Wiadomości: '+${thread.getMessageCount()}"></span>

            <th:block th:if="${!#authentication.getAuthorities().toArray()[0].getAuthority().equals('ROLE_ANONYMOUS')}">
              <th:block th:if="${(#authentication.getAuthorities().toArray()[0].getAuthority().equals('ROLE_admin'))||(#authentication.getName().equals(thread.getUsername()))}">
                <button class=" position-absolute top-0 start-80 btn btn-toolbar ms-auto mb-auto btn-danger border-danger-subtle  rounded-pill button-small " type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-expanded="false" aria-controls="collapseFilter"
                        th:data-bs-url="${'/deleteThread'}" th:data-bs-id="${thread.getIdThread()}+${'&category='}+${atr_category.getUrl()}">
                  <img class=" mx-auto " src="" th:src="@{~/images/icons/trash.svg}" alt="" width="16" height="16">
                  <span class="visually-hidden">Filtrowanie</span>
                </button>
              </th:block>
            </th:block>

          </div>
        </div>
    </div>
  </body>
</html>





