<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


  <th:block th:fragment="PaginationParent(extraParams,formUrl)" >
    <form id="pagination-form" class = "mx-auto mb-0 bg-dark " th:action="${formUrl}"
          onsubmit="ajaxPostFormPagination('pagination-form','contentList')">
      <nav class="mx-auto mt-3 mb-0   align-self-end  " aria-label="Page navigation example">
        <ul class="pagination mb-0">
          <th:block th:if="${atr_threads.getCurrentPage()!=0}">
            <li class="page-item">

              <button class="page-link" type="submit"  name="page" value="0" aria-label="Pierwsza strona">
                <span aria-hidden="true">&laquo;</span>
              </button>


            </li>
            <li class="page-item">
              <button class="page-link" type="submit" name="page" th:value="${atr_threads.getCurrentPage()}-${1}" aria-label="Poprzednia strona">
                [[${atr_threads.getCurrentPage()}-${1}]]
              </button>
            </li>
          </th:block>

          <li class="page-item">
            <button class="page-link active" type="submit" th:value="${atr_threads.getCurrentPage()}">
              [[${atr_threads.getCurrentPage()}]]
            </button>
          </li>

          <th:block th:if="${atr_threads.getLastPage()>atr_threads.getCurrentPage()}">
            <li class="page-item">
              <button class="page-link" type="submit" name="page" th:value="${atr_threads.getCurrentPage()}+${1}" aria-label="Kolejna strona" >
                [[${atr_threads.getCurrentPage()}+${1}]]
              </button>
            </li>

            <li class="page-item">
              <button class="page-link" type="submit"  name="page" th:value="${atr_threads.getLastPage()}" aria-label="Ostatatnia strona">
                <span aria-hidden="true">&raquo;</span>
              </button>
            </li>
          </th:block>
        </ul>
      </nav>
    </form>
  </th:block>
</body>
</html>