<!DOCTYPE html>
<html th:replace="~{Layout/mainLayout :: layout(~{::title},~{::content},false)}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title th:text="${atr_title}" th:fragment="title"></title>
</head>
  <body>
    <th:block th:fragment="content">
      <div class=" w-100 text-center ">
        <h1 class ="mx-auto">
          <p>Przeglądasz właśnie wątek</p>
          <b class="text-primary">[[${atr_title}]]</b>
        </h1>
      </div>

      <div id="contentList"  class=" list-group   list-group-flush  border-top border-white mt-2 col-lg-9 col-12 mx-auto  pb-0">
            <th:block th:fragment="threadContent">
                <th:block th:replace="~{Components/messageList :: messageList(${atr_messages}) }"></th:block>
                <th:block th:replace="~{Components/alerts :: alertsDisplayer(${atr_alertManager},true)}"></th:block>

                <form sec:authorize="isAuthenticated()" id = "messagePostFormA" class = "mx-auto text-center  w-90 border p-2 mt-2 mb-0"
                      th:action="'/postMessage/'+${atr_categoryUrl}+'/'+${atr_threadID}"
                      onsubmit="ajaxPostFormPagination('messagePostFormA','contentList'); return false;">
                    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"></input>
                    <div class="mx-auto w-75">
                      <label for="message" class="form-label">Wyślij Wiadomość</label>
                      <textarea class="form-control no-scroll " name="message" id="message" rows="3" maxlength="180" placeholder="Enter your message" ></textarea>
                      <div id="messageHelp" class="form-text">Maksymalnie 180 znaków</div>
                    </div>
                    <button type="submit" class="btn btn-primary" name="page" th:value="${atr_messages.getLastPage()}" >Wyślij</button>
                </form>



                <div class=" mx-auto">
                    <th:block th:replace="~{Components/ParentComponents/PaginationParent :: PaginationParent(
                        null,
                        @{/thread/{categoryName}/{threadId}(threadId=${atr_threadID}, categoryName=${atr_categoryUrl})},
                        ${atr_messages})}"></th:block>
                </div>
            </th:block>
      </div>
      <script src="" th:src="@{~/js/myJS/functions.js}"></script>
    </th:block>
  </body>
</html>









